body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 120px;
    height: 120px;
    background: #ccc;
    margin: 0 20px;
    border: 4px solid lightseagreen;
    box-sizing: border-box;
    border-radius: 50%;
}

ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: blue;
    transition: .5s
}

ul li .fa:nth-child(1) {
    left: -50%;
    opacity: 0;
}

ul li:hover .fa:nth-child(1) {
    left: 50%;
    opacity: 1;
}

ul li:hover .fa:nth-child(2) {
    left: 150%;
    opacity: 0;
}